<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee webapp_4_0.xsd"
         version="4.0">

    <!-- EE.5.18.3 (page 132) of the EE platform spec that you can download here: http://download.oracle.com/otndocs/jcp/java_ee-7-fr-eval-spec/index.html -->
    <!-- https://github.com/payara/Payara-Examples/tree/master/payara-micro/jpa-datasource-example -->
    <data-source>
        <name>java:global/MysqlDataSource</name>
        <class-name>com.mysql.cj.jdbc.MysqlXADataSource</class-name>
        <!-- https://github.com/javaee-samples/javaee7-samples/blob/master/jpa/datasourcedefinition-webxml-pu/src/main/webapp/WEB-INF/web.xml -->
        <url>jdbc:mysql://${ENV=MYSQL_HOST}:${ENV=MYSQL_PORT}/claims?useSSL=false&amp;requireSSL=false&amp;sslMode=DISABLED</url>
<!--
        <server-name>${ENV=MYSQL_HOST}</server-name>
        < ! - - IOException: org.xml.sax.SAXParseException; lineNumber: 12; columnNumber: 50; Deployment descriptor file WEB-INF/web.xml in archive [claims].  cvc-datatype-valid.1.2.1: '${ENV=MYSQL_PORT}' is not a valid value for 'integer'
        <port-number>${ENV=MYSQL_PORT}</port-number> - - >
        <port-number>30300</port-number>
        <database-name>claims</database-name>
-->
        <user>${ENV=MYSQL_USER}</user>
        <password>${ENV=MYSQL_PASSWORD}</password>
        <property>
            <name>fish.payara.slow-query-threshold-in-seconds</name>
            <value>5</value>
        </property>
        <property>
            <name>fish.payara.log-jdbc-calls</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.is-connection-validation-required</name>
            <value>true</value>
        </property>
        <property>
            <name>fish.payara.connection-validation-method</name>
            <value>custom-validation</value>
        </property>
        <property>
            <name>fish.payara.validation-classname</name>
            <value>org.glassfish.api.jdbc.validation.MySQLConnectionValidation</value>
        </property>
    </data-source>
</web-app>