/* TODO make the cursor work - conflict with primevue */
.p-disabled {
    cursor: wait !important;
    background-color: grey;
}
.p-component {
    margin: 3px;
}
.p-slider-horizontal {
	width: 14rem;
}
.p-button {
    margin: 3px !important;
}

.tile {
    border: 1px solid #999999;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 10px 20px 10px;
    padding: 5px;
    min-width: 400px;
    max-width: 400px;
}
