{#include internalheader title="Partner" /}{|

<div style="font-size: small;">
    Fetched in {{ timeTaken }}ms
</div>

<mf-partner :partner-id="model.id" :roles="model.partnerRoles" @loaded="tileLoaded"></mf-partner>

<div>
    Partner ID: {{model.id}}<br>
    First Name: {{model.partner.firstName}}<br>
    Last Name: {{model.partner.lastName}}<br>
    DoB: {{model.partner.dob}}<br>
    Type: {{model.partner.type}}<br>
</div>
<p-button id="sales" label="sales" @click="navigateToSales()"></p-button>
<hr>

<div class="p-grid">
    <mf-contract v-for="contractId in model.contractIds" :contract-id="contractId" clickable="true"></mf-contract>
</div>
<div v-if="model.hasMoreContracts">
    Partner has more contracts. <a href="/search">Search here...</a>
</div>
</span>
<span>
    <hr>
    <mf-cases :case-reference-ids="model.allContractIds"></mf-cases>
</span>
</div>

</div> |}{! end of app div !}{|
<script>
var urlParams = new URLSearchParams(window.location.search);
var id = urlParams.get('id');
console.log("using id from url: " + id);

const NUM_CONTRACTS_TO_DISPLAY = 10;

const App = {
    data() {
        return {
            model: { id, partner: {} },
            start: 0,
            timeTaken: 0,
            sessionId: null,
            users
        }
    },
    mounted() {
        window.model = this.model; // just for debugging purposes
        eventHub.on(LOGGED_IN, (username) => {
            // re-fetch when trying a different user, to e.g. re-render how tasks are shown for
            // that user, as well as re-check security
            this.fetchPartner();
        });
    },
    methods: {
        fetchPartner() {
            this.sessionId = uuidv4();
            let self = this;
            let url = PARTNERS_BASE_URL + "/partners/" + this.model.id;
            let partner$ = fetchIt(url, "GET", this).then(r => {
                self.timeTaken = new Date().getTime() - self.start;
                if(r.ok) {
                    console.log("got partner with id " + r.payload.id + ", for sessionId " + self.sessionId);
                    self.model.partner = r.payload;
                } else {
                    let msg = "Failed to get partner: " + r.payload;
                    console.error(msg);
                    alert(msg);
                }
            }).catch(error => {
                alert("received error: " + error);
            });

            url = PARTNERS_BASE_URL + "/partner-relationships/allByPartnerId/" + this.model.id + "?idsOnly=true";
            let partnerRelationships$ = fetchIt(url, "GET", this).then(r => {
                self.timeTaken = new Date().getTime() - self.start;
                if(r.ok) {
                    console.log("got partner-relationships, for sessionId " + self.sessionId);
                    self.model.partnerRelationships = _.groupBy(r.payload, "role");
                    self.model.allContractIds = _(self.model.partnerRelationships["CONTRACT_HOLDER"]).map("foreignId").uniq().value();
                    self.model.hasMoreContracts = self.model.allContractIds.length > NUM_CONTRACTS_TO_DISPLAY;
                    self.model.contractIds = _(self.model.allContractIds).reverse().take(NUM_CONTRACTS_TO_DISPLAY).value();
                    self.model.partnerRoles = _(r.payload).map("role").uniq().value().join(",");
                } else {
                    let msg = "Failed to get partner relationships: " + r.payload;
                    console.error(msg);
                    alert(msg);
                }
            }).catch(error => {
                alert("received error: " + error);
            });

            return Promise.all([partner$, partnerRelationships$]);
        },
        tileLoaded() {
            this.timeTaken = new Date().getTime() - this.start;
        },
        navigateToSales() {
            window.location.href = '/sales?partnerId=' + this.model.id;
        }
    },
    components: {
        'p-button': button,
        'mf-partner': mfPartnerTile,
        'mf-contract': mfContractTile,
        'mf-users': mfUsers,
        'mf-cases': mfCases
    }
}

const app = Vue.createApp(App)
app.use(primevue);
app.mount("#app")

</script>


|}{#include internalfooter /}
