{#include externalheader title="Portal" /}{|

<div id='root'>
    <div id='nav'>
        | <router-link :to='{ name: "home" }'>Home</router-link>
        | <router-link :to='{ name: "sales"}'>Sales</router-link>
        |
    </div>
    <hr>
    <router-view />
</div>

</div> |}{! end of app div !}{|
<script>
const App = {
    data() {
        return {
            users
        }
    },
    components: {
        'mf-users': mfUsers
    }
}

const router = VueRouter.createRouter({
  history: VueRouter.createWebHashHistory(),
  base: "/portal/",
  routes: [
    { name: 'sales', path: '/sales',          component: mfPortalSales },
    { name: 'home',  path: '/',               component: mfPortalHome  }
  ]
});

const app = Vue.createApp(App)
app.use(router);
app.use(primevue);
app.mount("#app")

</script>


|}{#include externalfooter /}
