{#include externalheader title="Portal" /}{|

<div id='root'>
    <div id='nav'>
        | <router-link :to='{ name: "home" }'>Home</router-link>
        | <router-link :to='{ name: "sales"}'>Sales</router-link>
        | <router-link :to='{ name: "demo"}'>Demo</router-link>
        |
    </div>
    <hr>
    <router-view />
</div>

</div> |}{! end of app div !}{|
<script>
const App = {
    data() {
        return {
            users
        }
    },
    components: {
        'mf-users': mfUsers
    }
}

const router = VueRouter.createRouter({
  history: VueRouter.createWebHashHistory(), // HASH => so that we dont have to use server support
  base: "/portal/",
  routes: [
    { name: 'sales',            path: '/sales',                        component: mfPortalSales           },
    { name: 'order',            path: '/order',                        component: mfPortalOrder           },
    { name: 'contract-details', path: '/contract-details/:contractId', component: mfPortalContractDetails },
    { name: 'order-details',    path: '/order-details/:orderId',       component: mfPortalOrderDetails    },
    { name: 'demo',             path: '/demo',                         component: mfPortalDemo            },
    { name: 'home',             path: '/',                             component: mfPortalHome            }
  ]
});

const app = Vue.createApp(App)
app.use(router);
app.use(primevue);
app.mount("#app")

</script>


|}{#include externalfooter /}
