{#include internalheader title="Sales" /}{|

<div style="width: 100%; text-align: right; font-size: small;">
    Force error: <p-dropdown :options="forcibleErrors" v-model="forceError">
        <template #option="slotProps">{{slotProps.option.label}}</template>
        <template #value="slotProps">{{slotProps.value.label}}</template>
    </p-dropdown>
    &nbsp;&nbsp;&nbsp;
    Persist: <p-dropdown id="persist" :options="['DB','IN_MEMORY','REDIS']" v-model="persist" @change="changePersist" style="vertical-align: middle;"></p-dropdown>
</div>

<div v-if="partnerId">
    <mf-partner :partner-id="partnerId" @loaded="partnerLoaded" clickable="true">
        <i style="width: 100%; text-align: right;" id="chooseDifferentPartner" class="pi pi-times" @click="chooseNewPartner"></i>
    </mf-partner>
</div>
<div v-else>
    <mf-partner-select :allow-create-new="true"
                       @selected="partnerSelected" >
    </mf-partner-select>
</div>
<div class="p-grid">
    <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <table>
            <tr>
                <td valign="top">
                    <p-dropdown :options="products" v-model="product" @change="productSelected"></p-dropdown>
                </td>
                <td valign="top" style="font-size: 0.8em; font-style: italic; min-width: 100px;">
                    choose "coffee latte" above to see how a
                    product specific ui-widget is used
                    rather than a generic one, and how
                    rules are executed in the UI
                </td>
            </tr>
        </table>
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-lg-3 p-xl-3">
        <p-calendar id="startDate"
                    v-model="model.startDate"
                    :show-icon="true"
                    placeholder="Select a date for your order"
                    date-format="yy-mm-dd"
                    :min-date="minStartDate"
                    :max-date="maxStartDate"
                    :show-button-bar="true"
                    select-other-months="true"
        ></p-calendar>
    </div>
    <div class="p-col-12 p-sm-12 p-md-6 p-lg-3 p-xl-3">
        <p-button :disabled="creatingDraft" @click="createDraft()">get new draft</p-button>
    </div>
</div>
<!-- table with just divs
<div style="display:table;">
    <div style="display:table-row;">
        <div style="display:table-cell; vertical-align: middle;">
        </div>
        <div style="display:table-cell; vertical-align: middle">
        </div>
    </div>
</div>
-->
<div style="font-size: small;">
    Drafted in {{ timeTaken }}ms
</div>
<div style="height: 30px;">
    <p-progressbar v-if="progressText" :value="progressValue">
        {{ progressText }}
    </p-progressbar>
</div>
<div>
    <p-fieldset v-if="contractActions[0]" legend="User Actions" :toggleable="true" :collapsed="true">
        Initial Request:
        <ul>
            <li v-for="k in keys(contractActions[0].draftRequest)">{{ k }}: {{ contractActions[0].draftRequest[k] }}</li>
        </ul>
        Actions:
        <table border="1" cellpadding="3" cellspacing="0" style="border-collapse: collapse;">
            <tr>
                <th>Action</th>
                <th>Path</th>
                <th>Parameters</th>
            </tr>
            <tr v-for="(userAction, i) in contractActions[0].userActions">
                <td valign="top">{{ userAction.action }}</td>
                <td valign="top">{{ userAction.path }}</td>
                <td valign="top">
                    <div v-for="param in keys(userAction.params)">
                        <span>{{ param }}: {{ userAction.params[param] }}</span>
                    </div>
                    <div>
                        <i style="width: 100%; text-align: right;" class="pi pi-times" @click="contractActions[0].userActions.splice(i,1)"></i>
                    </div>
                </td>
            </tr>
        </table>
        <div v-for="productId in products">
            <p-button @click="product = productId; productSelected().then(() => createDraft(true, productId))">apply to new {{productId}}</p-button>
        </div>
    </p-fieldset>
</div>
<div class="p-grid" v-if="get(model, 'draft.contract')">
    <mf-contract :contract="model.draft.contract"></mf-contract>
    <mf-partner v-if="model.salesRep" :partner-id="model.salesRep" role="SALES_REP" clickable="true"></mf-partner>
</div>
<div v-if="!!get(model, 'draft.pack.componentId')">
    <ul>
        <li>
            <div>Product: {{ model.draft.pack.children[0].productId }} {{ model.draft.pack.$price.total }} CHF ({{ model.draft.pack.$price.tax }} CHF VAT)
                <div>
                    <i class="fas fa-box" v-tooltip="tooltip(model.draft.pack)"></i> {{ model.draft.pack.componentDefinitionId }}
                    with quantity
                    {{ findConfig(model.draft.pack.configs, 'QUANTITY').value }}
                </div>
            </div>
            <mf-contract-discounts-surcharges :component="model.draft.pack"></mf-contract-discounts-surcharges>
            <mf-contract-modifiable-config v-if="model.draft && model.draft.pack" :component="model.draft.pack"></mf-contract-modifiable-config>
            <ul>
                <li v-for="child1 in model.draft.pack.children" :class="{nonSelectedComponent: child1.$isVirtual}">
                    <div v-if="child1.productId == 'COFFEE_LATTE_SKINNY' && useSpecificUi">
                        <!-- -------------------------------------------- -->
                        <!-- PRODUCT SPECIFIC UI:                         -->
                        <!-- -------------------------------------------- -->
                        <mf-contract-products-coffee-latte-skinny :node="child1"></mf-contract-products-coffee-latte-skinny>
                    </div>
                    <div v-else style="border: 1px solid #0000ff; width: 400px;">
                        <div style="font-size: 0.8em; font-style: italic; text-align: right;">
                            generic template
                            <p-checkbox v-if="child1.productId == 'COFFEE_LATTE_SKINNY'" v-model="useSpecificUi" :binary="true" v-tooltip="'toggle to specific ui'" />
                        </div>
                        <!-- -------------------------------------------- -->
                        <!-- GENERIC UI:                                  -->
                        <!-- -------------------------------------------- -->
                        <div>
                            <i class="fas fa-glass-whiskey" v-tooltip="tooltip(child1)"></i> {{ child1.componentDefinitionId }}: {{ child1.$price.total }} CHF
                        </div>
                        <mf-contract-discounts-surcharges :component="child1"></mf-contract-discounts-surcharges>
                        <ul v-if="get(child1, 'children.length') > 0">
                            <li v-for="child2 in child1.children" :class="{nonSelectedComponent: child2.$isVirtual}">
                                <i class="fas fa-wrench" v-tooltip="tooltip(child2)"></i> {{ child2.componentDefinitionId }}: {{ child2.$price.total }} CHF
                                <mf-contract-modifiable-config :component="child2"></mf-contract-modifiable-config>
                                <ul v-if="get(child2, 'children.length') > 0">
                                    <li v-for="child3 in child2.children" :class="{nonSelectedComponent: child3.$isVirtual}">
                                        <i class="fas fa-puzzle-piece" v-tooltip="tooltip(child3)"></i>{{ child3.componentDefinitionId }}: {{ child3.$price.total }} CHF
                                        <mf-contract-modifiable-cardinality :component="child3"></mf-contract-modifiable-cardinality>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <p-button id="offerDraft" :disabled="!allowOffer" @click="offerDraft()">offer draft</p-button>
    (test if locked: <p-button class="p-button-secondary" @click="offerDraft()" v-tooltip="'used to test what happens when contract/dsc/prices are not in sync'">offer draft</p-button>)
    <p-button class="p-button-secondary" @click="resync()" icon="pi-cloud-download" v-tooltip="'click this if the draft is broken'" style="min-width: 100px;">resync</p-button>
</div>

<p-toast position="top-right" />

</span>
</div>

</div> |}{! end of app div !}{|
<script>


// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// product specific ui-component for coffee latte skinny
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
var template =
`
<div style="border: 1px solid #0000ff; width: 400px;">
    <div style="font-size: 0.8em; font-style: italic; text-align: right;">
        product specific template
        <p-checkbox v-model="$parent.useSpecificUi" :binary="true" v-tooltip="'toggle to generic ui'" />
    </div>
    <div>
                    <!-- :disabled="isDisabledInput"  -->
        Discount <p-inputnumber v-model="discount" suffix="%" :step="5" :min="0" :max="10" @input="setDiscount()" />
        <span v-if="node && node.$discountsSurcharges && node.$discountsSurcharges.length >= 1" style="font-size: 0.8em; font-style: italic;">
            (backend value: {{ node.$discountsSurcharges[0].value }})
        </span>
    </div>
    <div>
        Choose fat content of milk:
        <ul>
            <li><p-button @click="changeParam('0.2', true)" :disabled="milkFatContentIs('0.2')">0.2%</p-button></li>
            <li><p-button @click="changeParam('1.4', true)" :disabled="milkFatContentIs('1.4')">1.4%</p-button></li>
            <li><p-button @click="changeParam('1.8', true)">1.8% Front End</p-button><span style="font-size: 0.8em; font-style: italic;">front end validation</span></li>
            <li><p-button @click="changeParam('1.8', false)">1.8% Back End</p-button><span style="font-size: 0.8em; font-style: italic;">back end validation</span></li>
            <li><p-button @click="changeParam('6.0')">6.0%</p-button><span style="font-size: 0.8em; font-style: italic;">not in sync with definitions</span></li>
        </ul>
    </div>
</div>
`; // end template

var coffeeLatteSkinnySpecificUiComponent = {
    props: ['node'],
    template,
    data() {
        return {
            discount: 0
        }
    },
    computed: {
        isDisabledInput() {
            return (this.discount != 0 && !this.node.$discountsSurcharges) ||
                   (this.node.$discountsSurcharges &&
                    this.node.$discountsSurcharges.length == 1 &&
                    this.node.$discountsSurcharges[0].value != -0.01 * this.discount
                   );
        }
    },
    methods: {
        changeParam(percent, doFrontendValidation) {
            let component = this.node.children[0];
            if(doFrontendValidation) {
                try {
                    _findComponentDefinition(component.path).rules.forEach(r => {
                        var FAT_CONTENT = percent;
                        if(!eval(r)) throw new Error("FAILED: " + r);
                    });
                } catch(e) {
                    alert(e);
                    return;
                }
            }

            let paramName = "FAT_CONTENT";
            component.$configs[paramName].value = percent
            this.$parent.changeParam(component, paramName);
        },
        milkFatContentIs(percent) {
            return _.find(this.node.children[0].configs, e => e.name == 'FAT_CONTENT').value == percent;
        },
        setDiscount() {
            this.$parent.setDiscount(this.discount / 100.0, this.node.path);
        }
    },
    components: {
        'p-button': button,
        'p-checkbox': checkbox,
        'p-inputnumber': inputnumber
    }
}

// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ui-component for modifying configs
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
template =
`
<div v-if="component.configPossibilities && component.configPossibilities.length > 0">
    <div v-for="paramName in getDistinctParamNames(component.configPossibilities)">
        <i class="fas fa-cog"></i>
        {{paramName}}:
        <p-dropdown :id="getId(paramName, 'config-param')"
                   :options="getParamOptions(paramName, component)"
                   v-model="component.$configs[paramName].value"
                   @change="changeParam(component, paramName)"
                   :disabled="component.$configs[paramName].waiting"
        >
        </p-dropdown>
    </div>
</div>
`; // end template

var modifiableConfigComponent = {
    props: ['component'],
    template,
    methods: {
        getId(paramName, prefix) {
            return paramName + "-" + prefix;
        },
        getDistinctParamNames(configPossibilities) {
            return _(configPossibilities).map("name").uniq().value()
        },
        getParamOptions(paramName, component) {
            let vals = _(component.configPossibilities)
                        .filter(c => c.name === paramName)
                        .map("value")
                        .value()
            return vals;
        },
        changeParam(component, paramName) {
            this.$parent.changeParam(component, paramName);
        }
    },
    components: {
        'p-dropdown': dropdown
    }
}

// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ui-component for modifying cardinality
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
template =
`
<span v-if="cardinalityMax > 1">
    <p-button :disabled="disabled || cardinalityCurrent >= cardinalityMax"
              icon="pi pi-plus"
              class="p-button-rounded" @click="add()"
              style="width: 16px; padding: 3px; height: 16px; font-size: x-small;"
    ></p-button>
    <p-button v-if="!component.$isVirtual" :disabled="disabled || cardinalityCurrent < cardinalityMin"
              icon="pi pi-minus"
              class="p-button-rounded"
              @click="remove()"
              style="width: 16px; padding: 3px; height: 16px; font-size: x-small;"
    ></p-button>
</span>
`; // end template

var modifiableCardinalityComponent = {
    props: ['component'],
    data() {
        return {
            disabled: false
        }
    },
    computed: {
        cardinalityMin() {
            return _findComponentDefinition(this.component.path).cardinalityMin;
        },
        cardinalityMax() {
            return _findComponentDefinition(this.component.path).cardinalityMax;
        },
        cardinalityCurrent() {
            // use the generic path of the definition, which is a regular expression, to find matching siblings
            //return _.filter(this.component.$parent.children, c => RegExp(_findComponentDefinition(this.component.path).path).test(c.path)).length;
            // the following works too, since all siblings have the same initial part of the path, and will have the same componentDefinitionId too:
            return _.filter(this.component.$parent.children, c => c.componentDefinitionId == this.component.componentDefinitionId).length;
        }
    },
    template,
    methods: {
        add() {
            this.disable = true;
            this.$parent.increaseCardinality(this.component.path)
            .then(r => this.disabled = false);
        },
        remove() {
            this.disable = true;
            this.$parent.decreaseCardinality(this.component.path)
            .then(r => this.disabled = false);
        }
    },
    components: {
        'p-button': button
    }
}

// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ui-component for displaying discounts and surcharges
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
template =
`
<div v-for="dsc in component.$discountsSurcharges">
    <div v-if="dsc.value > 0">
        <i class="fas fa-tag"></i> Surcharge "{{ dsc.definitionId }}" {{ dsc.value*100 }}%
    </div>
    <div v-if="dsc.value < 0">
        <i class="fas fa-tag"></i> Discount "{{ dsc.definitionId }}" {{ dsc.value*-100 }}%
    </div>
</div>
`; // end template

var discountsSurchargesComponent = {
    props: ['component'],
    template
}

// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// application
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
var urlParams = new URLSearchParams(window.location.search);
var partnerId = urlParams.get('partnerId');
console.log("using partner id from url: " + partnerId);

const forcibleErrors = [ {label: 'none', value: 'none'},
                        {label: 'business error in contracts (REST)', value: 'businessErrorInContracts'},
                        {label: 'technical error in contracts (REST)', value: 'technicalErrorInContracts'},
                        {label: 'business error in pricing (Kafka)', value: 'businessErrorInPricing'},
                        {label: 'technical error in pricing (Kafka)', value: 'technicalErrorInPricing'} ];

const App = {
    data() {
        return {
            product: null,
            products: [],
            partnerId,
            partner: null,
            model: {"draft": {}, "startDate": new Date(), salesRep: null},
            useSpecificUi: true,
            contractActions: [],
            start: 0,
            timeTaken: 0,
            source: null,
            currentAction: null,
            forcibleErrors,
            forceError: forcibleErrors[0],
            persist: "DB",
            allowOffer: false,
            progressValue: 0,
            progressText: null,
            users
        }
    },
    created() {
        this.minStartDate = new Date(new Date().getTime() - 3600000);
        this.maxStartDate = new Date();
        this.maxStartDate.setFullYear(this.maxStartDate.getFullYear() + 1);

        window.sessionId = uuidv4();
    },
    mounted() {
        window.model = this.model; // just for debugging purposes

        let self = this;
        let url = CONTRACTS_BASE_URL + "/definitions/products"
        let products$ = fetchIt(url, "GET", self).then(r => {
            if(r.ok) {
                console.log("got products: " + r.payload);
                self.products = r.payload;
                self.product = self.products[0]; // milkshake is default
                self.productSelected();
            } else {
                let msg = "Failed to get products: " + r.payload;
                console.error(msg);
                alert(msg);
            }
        }).catch(error => {
            console.error("received error: " + error);
        });

        return Promise.all([products$]);
    },
    methods: {
        changePersist() {
            this.model.draft = {};
        },
        productSelected() {
            let url = CONTRACTS_BASE_URL + "/definitions/components/" + this.product;
            return fetchIt(url, "GET", self).then(r => {
                if(r.ok) {
                    console.log("got component definitions: " + r.payload);
                    window.componentDefinitions = r.payload;
                    function setRegExpPath(componentDefinition) {
                        componentDefinition.$pathRegExp = RegExp("^" + componentDefinition.path + "$");
                        componentDefinition.children.forEach(c => setRegExpPath(c));
                    }
                    setRegExpPath(window.componentDefinitions);
                } else {
                    let msg = "Failed to get component definitions: " + r.payload;
                    console.error(msg);
                    alert(msg);
                }
            }).catch(error => {
                console.error("received error: " + error);
            });
        },
        partnerSelected(partner) {
            this.partner = partner;
            this.partnerId = partner.id;
        },
        validate() {
            if(!this.partner) {
                alert("please select a partner");
                return false;
            }
            if(!this.model.startDate) {
                alert("start date is required");
                return false;
            }
            if(this.model.startDate.getTime() > this.maxStartDate.getTime()) {
                alert("start date too high");
                return false;
            }
            if(this.model.startDate.getTime() < this.minStartDate.getTime()) {
                alert("start date too low");
                return false;
            }
            return true;
        },
        createDraft(applyActions, productIdToUse) {
            window.sessionId = uuidv4();
            if(!this.validate()) {
                return;
            }

            this.creatingDraft = true; // used to differentiate between new and update
            this.progressValue = 1;
            this.progressText = "fetching draft";
            this.allowOffer = false;
            let body = {
                "productId": productIdToUse || this.product,
                "start": this.model.startDate.toISOString().substr(0,10),
                "partnerId": this.partner.id,
                "contractId": uuidv4()
            }
            this.currentAction = {action: "createDraft"}
            let self = this;

            // subscribe before sending request to server, to ensure we receive ALL of the events, and any errors
            _sse(window.sessionId, this).then(() => {
                self.sessionId = window.sessionId;
                let url = CONTRACTS_BASE_URL + "/drafts?persist=" + self.persist;

                if(applyActions) {
                    self.contractActions[0].draftRequest = body;
                    self.contractActions[0].persist = self.persist;
                } else {
                    self.contractActions = [ {draftRequest: body, persist: self.persist, userActions: [] } ];
                }
                if(self.persist == "IN_MEMORY" || applyActions) {
                    url = CONTRACTS_BASE_URL + "/drafts2";
                    body = self.contractActions;
                }
                fetchIt(url, "POST", this, body).then(r => {
                    if(r.ok) {
                        console.log("got contract " + JSON.stringify(r.payload) + ", for sessionId " + self.sessionId);
                        if(url.indexOf("/drafts2") > 0) {
                            r.payload.forEach(contractWithWarnings => {
                                contractWithWarnings.warnings.forEach(warning => {
                                    alert(warning);
                                    self.$toast.add({severity:'warn', summary: 'Warning', detail: warning, life: 5000});
                                });
                            });
                        }
                    } else {
                        let msg = "Failed: " + r.payload;
                        console.error(msg);
                        alert(msg);
                        ameliorateCurrentAction(self)
                    }
                }).catch(error => {
                    console.error("received error: " + error);
                    ameliorateCurrentAction(self)
                });
            });
        },
        get(obj, path) {
            // vue3 doesnt like seeing underscores in attribute values => so lets create an alias with this method
            return _.get(obj, path);
        },
        keys(obj) {
            return _.keys(obj);
        },
        findConfig(configs, name) {
            return _.find(configs, e => e.name == name);
        },
        tooltip(component) {
            return component.componentId + "; " + component.path;
        },
        changeParam(component, paramName) {
            let newValue = component.$configs[paramName].value
            let oldValue = _(component.configs).find(c => c.name === paramName).value
            if(newValue != oldValue) {
                this.progressValue = 1;
                this.progressText = "updating draft";
                this.allowOffer = false;
                component.$configs[paramName].waiting = true // causes disabled
                console.log("change param " + paramName + " on component " + component.path + " to " + newValue)
                this.currentAction = {action: "changeParam", paramName, path: component.path, oldValue, newValue}
                let self = this;
                let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/update-config/" + paramName + "/" + newValue + "?persist=" + this.persist;
                let verb = "PUT";
                let body = component.path;

                this.contractActions[0].userActions.push({action: "UPDATE_CONFIG", path: component.path, params: {param: paramName, newValue: newValue}});
                if(this.persist == "IN_MEMORY") {
                    url = CONTRACTS_BASE_URL + "/drafts2";
                    body = this.contractActions;
                    verb = "POST"
                }

                fetchIt(url, verb, this, body).then(r => {
                    if(r.ok) console.log("updated contract " + JSON.stringify(r.payload) + ", for sessionId " + self.sessionId);
                    else {
                        let msg = "Failed: " + r.payload;
                        console.error(msg);
                        alert(msg);
                        ameliorateCurrentAction(self)
                    }
                }).catch(error => {
                    console.error("received error: " + error);
                    ameliorateCurrentAction(self)
                });
            }
        },
        increaseCardinality(pathToAdd) {
            this.progressValue = 1;
            this.progressText = "increasing cardinality";
            this.allowOffer = false;
            console.log("change cardinality by adding path " + pathToAdd)
            this.currentAction = {action: "increaseCardinality", pathToAdd};
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/increase-cardinality" + "?persist=" + this.persist;
            let verb = "PUT";
            let body = pathToAdd;

            this.contractActions[0].userActions.push({action: "INCREASE_CARDINALITY", path: pathToAdd});
            if(this.persist == "IN_MEMORY") {
                url = CONTRACTS_BASE_URL + "/drafts2";
                body = this.contractActions;
                verb = "POST"
            }

            return fetchIt(url, verb, this, body).then(r => {
                if(r.ok) console.log("increased cardinality on contract " + JSON.stringify(r.payload) + ", for sessionId " + self.sessionId);
                else {
                    let msg = "Failed: " + r.payload;
                    console.error(msg);
                    alert(msg);
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        decreaseCardinality(pathToRemove) {
            this.progressValue = 1;
            this.progressText = "decreasing cardinality";
            this.allowOffer = false;
            console.log("change cardinality by removing path " + pathToRemove)
            this.currentAction = {action: "decreaseCardinality", pathToRemove};
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "?persist=" + this.persist;
            let verb = "DELETE";
            let body = pathToRemove;

            this.contractActions[0].userActions.push({action: "DECREASE_CARDINALITY", path: pathToRemove});
            if(this.persist == "IN_MEMORY") {
                url = CONTRACTS_BASE_URL + "/drafts2";
                body = this.contractActions;
                verb = "POST"
            }

            return fetchIt(url, verb, this, body).then(r => {
                if(r.ok) console.log("decreased cardinality on contract " + JSON.stringify(r.payload) + ", for sessionId " + self.sessionId);
                else {
                    let msg = "Failed: " + r.payload;
                    console.error(msg);
                    alert(msg);
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        setDiscount(discount, path) {
            this.progressValue = 1;
            this.progressText = "updating draft";
            this.allowOffer = false;
            console.log("setting discount of " + discount + " on component " + path + "...")
            this.currentAction = {action: "setDiscount", path}
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/set-discount/" + discount + "?persist=" + this.persist;
            let verb = "PUT";
            let body = path;

            this.contractActions[0].userActions.push({action: "SET_DISCOUNT", path, params: {value: discount}});
            if(this.persist == "IN_MEMORY") {
                url = CONTRACTS_BASE_URL + "/drafts2";
                body = this.contractActions;
                verb = "POST"
            }

            return fetchIt(url, verb, this, body).then(r => {
                if(r.ok) console.log("set discount");
                else {
                    let msg = "Failed: " + r.payload;
                    console.error(msg);
                    alert(msg);
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        offerDraft() {
            this.allowOffer = false;
            console.log("offering contract...")
            this.currentAction = {action: "offerDraft"}
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/offer";
            let body = null;
            let verb = "PUT";
            this.contractActions[0].offerDraft = true;

            // if persistence if redis or in-memory (ie not db), then we MUST replay it all with persistence type DB so that it ends up in mysql
            if(this.persist != "DB") {
                url = CONTRACTS_BASE_URL + "/drafts2";
                body = JSON.parse(JSON.stringify(this.contractActions)); // deep clone before changing persist type to DB
                body[0].persist = "DB"; // offers MUST end up in the DB
                verb = "POST";
            }

            return fetchIt(url, verb, this, body).then(r => {
                if(r.ok) console.log("offered contract " + JSON.stringify(r.payload) + ", for sessionId " + self.sessionId);
                else {
                    if(r.payload.class == "ch.maxant.kdc.mf.partners.boundary.NoRelationshipsFoundValidationException") {
                        alert("No partner relationships exist, please create a new offer");
                    } else if(r.payload.class == "ch.maxant.kdc.mf.partners.boundary.NotEnoughRelationshipsForForeignIdTypeValidationException") {
                        alert("A partner relationship is missing: " + r.payload.data);
                    } else {
                        let msg = "Failed: " + r.payload;
                        console.error(msg);
                        alert(msg);
                    }
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        getDemoContext() {
            return JSON.stringify( { forceError: this.forceError.value } )
        },
        partnerLoaded(partner) {
            this.partner = partner;
        },
        chooseNewPartner(event) {
            this.partnerId = null;
            this.partner = null;
            this.model.draft = {};
            event.cancelBubble = true;
        },
        resync() {
            this.progressValue = 1;
            this.progressText = "resyncing draft";
            this.allowOffer = false;
            console.log("resyncing contract")
            this.currentAction = {action: "resyncing"}
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/resync";
            fetchIt(url, "PUT", this).then(r => {
                if(r.ok) console.log("resynced");
                else {
                    let msg = "Failed: " + r.payload;
                    console.error(msg);
                    alert(msg);
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        }
    },
    components: {
        'p-calendar': calendar,
        'p-dropdown': dropdown,
        'p-button': button,
        'p-progressbar': progressbar,
        'p-checkbox': checkbox,
        'p-fieldset': fieldset,
        'p-toast': toast,
        'mf-partner-select': mfPartnerSelect,
        'mf-partner': mfPartnerTile,
        'mf-contract': mfContractTile,
        'mf-users': mfUsers,
        'mf-contract-products-coffee-latte-skinny': coffeeLatteSkinnySpecificUiComponent,
        'mf-contract-modifiable-config': modifiableConfigComponent,
        'mf-contract-modifiable-cardinality': modifiableCardinalityComponent,
        'mf-contract-discounts-surcharges': discountsSurchargesComponent
    }
}
const app = Vue.createApp(App)
app.use(primevue, {ripple: true});
app.use(toastservice);
app.directive('tooltip', tooltip);
app.mount("#app")

function clearDscsRecursively(component) {
    delete component.$discountsSurcharges;
    _.forEach(component.children, child => clearDscsRecursively(child));
}

function addDsc(component, dsc) {
    if(!component.$discountsSurcharges) {
        component.$discountsSurcharges = [];
    }
    if(component.componentId == dsc.componentId) {
        component.$discountsSurcharges.push(dsc);
    }
    _.forEach(component.children, child => addDsc(child, dsc));
}

function addPrice(component, id, price) {
    if(component.componentId == id) {
        component.$price = price;
        _.forEach(component.$configs, c => {
            c.waiting = false;
        }) // reset the waiting flag as we're now complete
    } else {
        _.forEach(component.children, child => addPrice(child, id, price));
    }
}

function _sse(sessionId, self) {
    return sse(sessionId, self, msg => {
        if(msg.event == "DRAFT" && self.creatingDraft) {
            self.progressValue = 33;
            self.progressText = "checking discounts, surcharges and conditions";
            self.creatingDraft = false;
            self.model.draft = msg.payload;
            initialiseDraft(self.model.draft);
            self.model.draft.contract.productId = self.model.draft.pack.children[0].productId;
            // dont update any waiting or timing state, because this is just the first of many events to come
        } else if(msg.event == "DRAFT" && !self.creatingDraft) {
            self.progressValue = 33;
            self.progressText = "checking discounts, surcharges and conditions";
            removeVirtualComponents(self.model.draft.pack);
            updateDraft(msg.payload.allComponents, self.model.draft.pack);
            addVirtualComponents(msg.payload.allComponents, self.model.draft.pack);
            // dont update any waiting or timing state, because this is just the first of many events to come
        } else if(msg.event == "ADDED_DSC_FOR_DRAFT") {
            self.progressValue = 66;
            self.progressText = "updating price";
            self.model.draft.discountsSurcharges = msg.payload.discountsSurcharges;
            clearDscsRecursively(self.model.draft.pack);
            _.forEach(self.model.draft.discountsSurcharges, dsc => {
                addDsc(self.model.draft.pack, dsc);
            });
            self.timeTaken = new Date().getTime() - self.start;
        } else if(msg.event == "SET_DISCOUNT") {
            // ignore - its a command from contract->dsc
        } else if(msg.event == "UPDATED_PRICES_FOR_DRAFT") {
            self.model.draft.prices = msg.payload.priceByComponentId;
            _.forEach(self.model.draft.prices, (v,k) => {
                addPrice(self.model.draft.pack, k, v);
            });
            self.allowOffer = true;
            self.timeTaken = new Date().getTime() - self.start;
            self.progressValue = 100;
            self.progressText = null;
        } else if(msg.event == "OFFERED_DRAFT") {
            console.log("offered draft for contract " + msg.payload.contract.id);
            self.allowOffer = false;
            self.timeTaken = new Date().getTime() - self.start;
            window.location.href = '/contract?id=' + self.model.draft.contract.id;
        } else if(msg.event == "CHANGED_PARTNER_RELATIONSHIP") {
            if(msg.payload.role == "SALES_REP") {
                self.model.salesRep = msg.payload.partnerId;
            }
        } else if(msg.event == "CHANGED_CASE") {
            if(msg.originalCommand == "CREATE_TASK" || msg.originalCommand == "UPDATE_TASK") {
                // TODO refresh area that show tasks related to this sales case
            }
        } else if(msg.event == "ERROR") {
            if(_.get(msg, 'payload.errorClass')) {
                alert(msg.payload.errorMessage);
            } else {
                msg = JSON.stringify(msg);
                console.error("received error: " + msg);
                alert(msg);
            }
            ameliorateCurrentAction(self)
        } else {
            console.error("received unexpected event: " + event.data);
        }
    });
}

function ameliorateCurrentAction(self) {
    if(self.currentAction.action == "createDraft") {
        self.creatingDraft = false;
    } else if(self.currentAction.action == "changeParam") {
        // {action: "changeParam", paramName, path, oldValue, newValue}
        removeWaitingAndResetValue(self.currentAction.path, self.currentAction.paramName, self.currentAction.oldValue, self.model.draft.pack)
        self.allowOffer = false
        self.contractActions[0].userActions.pop();
    } else if(self.currentAction.action == "setDiscount") {
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
        self.contractActions[0].userActions.pop();
    } else if(self.currentAction.action == "increaseCardinality") {
        // {action: "increaseCardinality", pathToAdd}
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
        self.contractActions[0].userActions.pop();
    } else if(self.currentAction.action == "decreaseCardinality") {
        // {action: "decreaseCardinality", pathToRemove};
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
        self.contractActions[0].userActions.pop();
    } else if(self.currentAction.action == "offerDraft") {
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
    } else if(self.currentAction.action == "resyncing") {
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
    } else {
        console.error("unexpected current action: " + self.currentaction.action)
    }
    self.progressText = null;
    self.progressValue = 100;
}

function removeWaitingAndResetValue(targetComponentPath, paramName, oldValue, component) {
    if(component.path == targetComponentPath) {
        component.$configs[paramName].waiting = false
        component.$configs[paramName].value = oldValue
    }
    _.forEach(component.children, child => removeWaitingAndResetValue(targetComponentPath, paramName, oldValue, child));
}

function initialiseDraft(draft) {
    draft.pack = _.find(draft.allComponents, c => !c.parentId);
    _buildTree(draft.pack, draft.allComponents);
    delete draft.allComponents; // this UI uses a tree, not a flat list
    _initialiseDraft(draft.pack);
}

function _buildTree(parent, components) {
    parent.componentId = parent.id; // rename id to componentId for historical reasons, and remove the new "id" field to reduce confusion
    parent.children = [];

    _.filter(components, c => c.parentId == parent.componentId).forEach(c => {
        parent.children.push(c);
        _buildTree(c, components);
    });
}

function _initialiseDraft(component, parent) {
    component.$configs = {};
    component.$price = {};
    component.$parent = parent;
    let definition = _findComponentDefinition(component.path);
    component.configPossibilities = definition.configPossibilities;
    _.forEach(component.configs, c => component.$configs[c.name] = _.clone(c));
    _.forEach(component.children, child => _initialiseDraft(child, component));

    sortChildrenAccordingToDefinitions(component, definition);
}

function sortChildrenAccordingToDefinitions(component, definition) {
    let index = definition.children.map(c => c.componentDefinitionId);
    component.children = _.sortBy(component.children, [
        function(c) {
            return _.indexOf(index, c.componentDefinitionId)
        }, function(c) {
            return c.cardinalityKey
        }]);
}

function _findComponentDefinition(path, componentDefinition) {
    if(!componentDefinition && window.componentDefinitions) {
        componentDefinition = window.componentDefinitions;
    }
    if(componentDefinition.$pathRegExp.test(path)) {
        return componentDefinition;
    }
    for(let c in componentDefinition.children) {
        let compDefn = _findComponentDefinition(path, componentDefinition.children[c]);
        if(compDefn) {
            return compDefn;
        }
    }
}

/** component is from our UI model */
function updateDraft(allComponentsFromServer, component){
    let childPaths = _.map(component.children, 'path');
    let definition = _findComponentDefinition(component.path);
    // let matchingComponentFromServer = _(allComponentsFromServer).find(c => c.id === component.componentId) => no, must be path based, since when we dont persist, the UUIDs constantly change!
    let matchingComponentFromServer = _(allComponentsFromServer).find(c => c.path === component.path)
    if(matchingComponentFromServer) {
        let areWaiting = _(component.$configs).filter(c => c.waiting).map("name").value()
        component.configs = matchingComponentFromServer.configs; // adopt new configs
        _.forEach(component.configs, c => component.$configs[c.name] = _.clone(c)); // also clears waiting (disabled)
        _.forEach(areWaiting, name => component.$configs[name].waiting = true); // reset so that they remain waiting, until prices are calculated
        component.$price = {} // reset them as we dont know what they are right now! in the case of an error, they stay empty indicating that there was a problem!
        component.path = matchingComponentFromServer.path; // paths are sometimes updated, eg when removing components
        component.cardinalityKey = matchingComponentFromServer.cardinalityKey; // ditto
        component.componentId = matchingComponentFromServer.id; // in case of non-persistence, the IDs change

        // deal with new children from server that need to be integrated into this model
        let childrenFromServer = _.filter(allComponentsFromServer, c => c.parentId == matchingComponentFromServer.id);
        let newChildrenFromServer = _.filter(childrenFromServer, childFromServer => _.indexOf(childPaths, childFromServer.path) < 0);
        _.forEach(newChildrenFromServer, newChild => {
            _buildTree(newChild, allComponentsFromServer);
            _initialiseDraft(newChild, component);

            component.children.push(newChild);
        });
    } else {
        // remove it from our model
        component.$parent.children.splice(_.indexOf(component.$parent.children, component), 1);
    }

    // removal is painful. it screws with the indices! dont iterate the kids directly, rather use their paths
    childPaths.forEach(childPath => {
        let child = component.children.filter(c => c.path == childPath)[0];
        updateDraft(allComponentsFromServer, child);
    });
}

/**
 * component is from our UI model. this is done seperately from updateDraft, since removal is done one layer
 * lower than we'd add virtual children, and at the stage that we want to add a child, the one that needs to be
 * deleted because it no longer exists on the server is still present.
 */
function addVirtualComponents(allComponentsFromServer, component){
    let definition = _findComponentDefinition(component.path);

    // do we need any virtual children, because there are kids with cardinality 0?
    let instanceComponentDefinitionIds = _.map(component.children, c => c.componentDefinitionId);
    let missingDefinitions = _.filter(definition.children, child => !_.includes(instanceComponentDefinitionIds, child.componentDefinitionId));
    _.forEach(missingDefinitions, missingDefinition => {
        let newChild = {
            $isVirtual: true,
            cardinalityKey: "1",
            componentDefinitionId: missingDefinition.componentDefinitionId,
            configs: [],
            parentId: component.componentId,
            path: component.path + "->" + missingDefinition.componentDefinitionId + "1",
            $configs: {},
            $parent: component,
            children: [],
            configPossibilities: missingDefinition.configPossibilities,
            $price: {}
        };
        component.children.push(newChild);
    });

    sortChildrenAccordingToDefinitions(component, definition);

    component.children.forEach(c => addVirtualComponents(allComponentsFromServer, c));
}

function removeVirtualComponents(component){
    _.remove(component.children, c => c.$isVirtual);
    component.children.forEach(c => removeVirtualComponents(c));
}

</script>

|}{#include internalfooter /}
