{#include internalheader title="Sales" /}{|

<div style="width: 100%; text-align: right; font-size: small;">
    Force error: <p-dropdown :options="forcibleErrors" v-model="forceError">
        <template #option="slotProps">{{slotProps.option.label}}</template>
        <template #value="slotProps">{{slotProps.value.label}}</template>
    </p-dropdown>
</div>

<div>
    <mf-partner-select :allow-create-new="true"
                       @selected="partnerSelected" >
    </mf-partner-select>
</div>
<div>
    <p-calendar id="startDate"
                v-model="model.startDate"
                :show-icon="true"
                placeholder="Select a date for your order"
                date-format="yy-mm-dd"
                :min-date="minStartDate"
                :max-date="maxStartDate"
                :show-button-bar="true"
                select-other-months="true"
    ></p-calendar>
    <button @click="newDraft()">get new draft</button>
</div>
<div style="font-size: small;">
    Drafted in {{ timeTaken }}ms
</div>
<div v-if="get(model, 'draft.contract')">
    <mf-contract :contract="model.draft.contract"></mf-contract>
</div>
<div v-if="get(model, 'draft.contract')">
    <mf-partner v-if="model.salesRep" :partner-id="model.salesRep" role="SALES_REP" clickable="true"></mf-partner>
</div>
<div v-if="!!get(model, 'draft.pack.$price')">
    Product: {{ model.draft.pack.children[0].productId }} {{ model.draft.pack.$price.total }} CHF ({{ model.draft.pack.$price.tax }} CHF VAT)
</div>
<div v-if="!!get(model, 'draft.pack.$price')">
    <ul>
        <li v-for="child in model.draft.pack.children">
            {{ child.componentDefinitionId }}: {{ child.$price.total }} CHF
            <ul v-if="get(child, 'children.length') > 0">
                <li v-for="child2 in child.children">
                    {{ child2.componentDefinitionId }}: {{ child2.$price.total }} CHF
                    <div v-if="child2.configPossibilities && child2.configPossibilities.length > 0">
                        <div v-for="paramName in getDistinctParamNames(child2.configPossibilities)">
                            {{paramName}}: <p-dropdown :id="getId(paramName, 'config-param')"
                                                       :options="getParamOptions(paramName, child2)"
                                                       v-model="child2.$configs[paramName].value"
                                                       @change="changeParam(child2, paramName, $event)"
                                                       :disabled="child2.$configs[paramName].waiting"
                        ></p-dropdown>
                        </div>
                    </div>
                    <ul v-if="get(child2, 'children.length') > 0">
                        <li v-for="child3 in child2.children">
                            {{ child3.componentDefinitionId }}: {{ child3.$price.total }} CHF
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <button id="offerDraft" :disabled="!allowOffer" @click="offerDraft()">offer draft</button>
    (test if locked: <button @click="offerDraft()">offer draft</button>)
</div>

</span>
</div>

</div> |}{! end of app div !}{|
<script>
const forcibleErrors = [ {label: 'none', value: 'none'},
                        {label: 'business error in contracts (REST)', value: 'businessErrorInContracts'},
                        {label: 'technical error in contracts (REST)', value: 'technicalErrorInContracts'},
                        {label: 'business error in pricing (Kafka)', value: 'businessErrorInPricing'},
                        {label: 'technical error in pricing (Kafka)', value: 'technicalErrorInPricing'} ];

const App = {
    data() {
        return {
            partner: null,
            model: {"draft": {"prices": {}}, "startDate": new Date(), salesRep: null},
            start: 0,
            timeTaken: 0,
            requestId: uuidv4(),
            source: null,
            currentAction: null,
            forcibleErrors,
            forceError: forcibleErrors[0],
            allowOffer: false,
            users
        }
    },
    created() {
        this.minStartDate = new Date();
        this.maxStartDate = new Date();
        this.maxStartDate.setFullYear(this.maxStartDate.getFullYear() + 1);
    },
    mounted() {
        window.model = this.model; // just for debugging purposes
    },
    methods: {
        getId(paramName, prefix) {
            return paramName + "-" + prefix;
        },
        partnerSelected(partner) {
            this.partner = partner;
        },
        validate() {
            if(!this.partner) {
                alert("please select a partner");
                return false;
            }
            if(!this.model.startDate) {
                alert("start date is required");
                return false;
            }
            if(this.model.startDate.getTime() > this.maxStartDate.getTime()) {
                alert("start date too high");
                return false;
            }
            if(this.model.startDate.getTime() < this.minStartDate.getTime()) {
                alert("start date too low");
                return false;
            }
            return true;
        },
        newDraft() {
            if(!this.validate()) {
                return;
            }

            this.allowOffer = false;
            let body = {
                "productId": "COOKIES_MILKSHAKE",
                "start": new Date(new Date().getTime() + 24*3600000).toISOString().substr(0,10),
                "partnerId": this.partner.id
            }
            this.currentAction = {action: "newDraft"}

            // subscribe before sending request to server, to ensure we receive ALL of the events, and any errors
            sse(this.requestId, this);

            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts"
            fetchIt(url, "POST", this, body).then(r => {
                if(r.ok) console.log("got contract with id " + r.payload.id + ", for requestId " + self.requestId);
                else {
                    let msg = "Failed to offer contract: " + r.payload;
                    console.error(msg);
                    alert(msg);
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        get(obj, path) {
            // vue3 doesnt like seeing underscores in attribute values => so lets create an alias with this method
            return _.get(obj, path);
        },
        getDistinctParamNames(configPossibilities) {
            return _(configPossibilities).map("name").uniq().value()
        },
        getParamOptions(paramName, component) {
            let vals = _(component.configPossibilities)
                        .filter(c => c.name === paramName)
                        .map("value")
                        .value()
            return vals;
        },
        changeParam(component, paramName, e) {
            this.allowOffer = false;
            let newValue = component.$configs[paramName].value
            let oldValue = _(component.configs).find(c => c.name === paramName).value
            if(newValue != oldValue) {
                component.$configs[paramName].waiting = true // causes disabled
                console.log("change param " + paramName + " on component " + component.componentId + " to " + newValue)
                this.currentAction = {action: "changeParam", paramName, componentId: component.componentId, oldValue, newValue}
                let self = this;
                let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/" + component.componentId + "/" + paramName + "/" + newValue;
                fetchIt(url, "PUT", this).then(r => {
                    if(r.ok) console.log("updated contract with id " + r.payload.id + ", for requestId " + self.requestId);
                    else {
                        let msg = "Failed to offer contract: " + r.payload;
                        console.error(msg);
                        alert(msg);
                        ameliorateCurrentAction(self)
                    }
                }).catch(error => {
                    console.error("received error: " + error);
                    ameliorateCurrentAction(self)
                });
            }
        },
        offerDraft() {
            this.allowOffer = false;
            console.log("offering contract...")
            this.currentAction = {action: "offerDraft"}
            let self = this;
            let url = CONTRACTS_BASE_URL + "/drafts/" + this.model.draft.contract.id + "/offer";
            fetchIt(url, "PUT", this).then(r => {
                if(r.ok) console.log("offered contract with id " + r.payload.id + ", for requestId " + self.requestId);
                else {
                    if(r.payload.class == "ch.maxant.kdc.mf.partners.boundary.NoRelationshipsFoundValidationException") {
                        alert("No partner relationships exist, please create a new offer");
                    } else if(r.payload.class == "ch.maxant.kdc.mf.partners.boundary.NotEnoughRelationshipsForForeignIdTypeValidationException") {
                        alert("A partner relationship is missing: " + r.payload.data);
                    } else {
                        let msg = "Failed to offer contract: " + r.payload;
                        console.error(msg);
                        alert(msg);
                    }
                    ameliorateCurrentAction(self)
                }
            }).catch(error => {
                console.error("received error: " + error);
                ameliorateCurrentAction(self)
            });
        },
        getDemoContext() {
            return JSON.stringify( { forceError: this.forceError.value } )
        }
    },
    components: {
        'p-calendar': calendar,
        'p-dropdown': dropdown,
        'mf-partner-select': mfPartnerSelect,
        'mf-partner': mfPartnerTile,
        'mf-contract': mfContractTile,
        'mf-users': mfUsers
    }
}
const app = Vue.createApp(App)
app.use(primevue, {ripple: true});
app.mount("#app")

function addPrice(component, id, price) {
    if(component.componentId == id) {
        component.$price = price
        _.forEach(component.$configs, c => {
            c.waiting = false
        }) // reset the waiting flag as we're now complete
    } else {
        _.forEach(component.children, child => addPrice(child, id, price))
    }
}

function sse(requestId, self) {
    if(self.source && self.source.readyState != EventSource.CLOSED) self.source.close();
    self.source = new EventSource("/web/stream/" + requestId);
    self.source.onmessage = function (event) {
        console.log(event);
        let msg = JSON.parse(event.data);
        if(msg.event == "CREATED_DRAFT") {
            self.model.draft = msg.payload;
            initialiseDraft(self.model.draft.pack);
            // dont update any waiting or timing state, because this is just the first of many events to come
        } else if(msg.event == "UPDATED_DRAFT") {
            updateDraft(msg.payload.allComponents, self.model.draft.pack);
            // dont update any waiting or timing state, because this is just the first of many events to come
        } else if(msg.event == "UPDATED_PRICES") {
            self.model.draft.prices = msg.payload.priceByComponentId;
            _.forEach(self.model.draft.prices, (v,k) => {
                addPrice(self.model.draft.pack, k, v);
            });
            self.allowOffer = true;
            self.timeTaken = new Date().getTime() - self.start;
        } else if(msg.event == "OFFERED_DRAFT") {
            console.log("offered draft for contract " + msg.payload.contract.id);
            self.allowOffer = false;
            self.timeTaken = new Date().getTime() - self.start;
            window.location.href = '/partner?id=' + self.partner.id;
        } else if(msg.event == "CHANGED_PARTNER_RELATIONSHIP") {
            if(msg.payload.role == "SALES_REP") {
                self.model.salesRep = msg.payload.partnerId;
            }
        } else if(msg.event == "CHANGED_CASE") {
            if(msg.originalCommand == "CREATE_TASK" || msg.originalCommand == "UPDATE_TASK") {
                // TODO refresh area that show tasks related to this sales case
            }
        } else if(msg.event == "ERROR") {
            if(msg.payload.errorClass == "ch.maxant.kdc.mf.partners.control.PartnerHasNoPrimaryAddressValidationException") {
                alert(msg.payload.errorMessage);
                // TODO let user add a primary address
            } else {
                console.error("received error: " + JSON.stringify(msg));
                alert("an error occurred - see the console");
                ameliorateCurrentAction(self)
            }
        } else {
            console.error("received unexpected event: " + event.data);
        }
    };
    self.source.onerror = function (event) {
        console.log("sse error " + event);
        if(self.source && self.source.readyState != EventSource.CLOSED) self.source.close();
        self.source = null;
    }
}

function ameliorateCurrentAction(self) {
    if(self.currentAction.action == "newDraft") {
        // not much can be done => user has a button to go get a new one
        alert("Failed to create an offer. Please try refreshing the page.")
    } else if(self.currentAction.action == "changeParam") {
        alert("TODO offer user the chance to reload the entire draft with the backend state");
        // {action: "changeParam", paramName, componentId, oldValue, newValue}
        removeWaitingAndResetValue(self.currentAction.componentId, self.currentAction.paramName, self.currentAction.oldValue, self.model.draft.pack)
        self.allowOffer = false
    } else if(self.currentAction.action == "offerDraft") {
        self.allowOffer = true // so user can retry if they want to. it mustve been enabled in order to get here.
    } else {
        console.error("unexpected current action: " + self.currentaction.action)
    }
}

function removeWaitingAndResetValue(targetComponentId, paramName, oldValue, component) {
    if(component.componentId == targetComponentId) {
        component.$configs[paramName].waiting = false
        component.$configs[paramName].value = oldValue
    }
    _.forEach(component.children, child => removeWaitingAndResetValue(targetComponentId, paramName, oldValue, child));
}

function initialiseDraft(component) {
    component.$configs = {}
    _.forEach(component.configs, c => component.$configs[c.name] = _.clone(c));
    _.forEach(component.children, child => initialiseDraft(child));
}

function updateDraft(newComponents, component){
    let newComponent = _(newComponents).find(c => c.id === component.componentId)
    if(newComponent) {
        let areWaiting = _(component.$configs).filter(c => c.waiting).map("name").value()
        component.configs = newComponent.configs; // adopt new configs
        _.forEach(component.configs, c => component.$configs[c.name] = _.clone(c)); // also clears waiting (disabled)
        _.forEach(areWaiting, name => component.$configs[name].waiting = true); // reset so that they remain waiting, until prices are calculated
        component.$price = {} // reset them as we dont know what they are right now! in the case of an error, they stay empty indicating that there was a problem!
    } else {
        console.error("no component with ID " + component.componentId + " found in response")
    }

    _.forEach(component.children, child => updateDraft(newComponents, child));
}

</script>

|}{#include internalfooter /}
