{#include internalheader title="Search" /}{|

<input ref="searchTerm" id="searchTerm" v-stream:keyup="'searchRequest$'" /><br>
<small>
    Use * for wildcard searches e.g. when searching for an ID <code>*331e5c18-e330-4204-95a1-371e54a12f5c*</code>,
    or a specific ID <code>partnerId:"331e5c18-e330-4204-95a1-371e54a12f5c"</code>,
    or a specific state <code>state:DRAFT</code>,
    or <code>reserve:>999"</code> to search for entities with that field <br>
    greater than that value. You can even do crazy shit like this: <code>date:<2018-12-31 AND date:>2018-05-31</code>
</small>

<div>
    <div v-if="!!searchResult.timed_out">
        Timed out...
    </div>
    <div v-if="!!searchResult.hits" style="color: darkblue;">
        <small>Found {{searchResult.hits.total.relation === 'eq' ? '' : 'more than'}}
            {{searchResult.hits.total.value}}
            result{{searchResult.hits.total.value===1?'':'s'}} in
            {{searchResult.took}}ms
            <br>
            Fetched in {{ timeTaken }}ms
        </small>
    </div>
</div>
<div v-if="!!searchResult.hits">
    <div v-for="hit in searchResult.hits.hits">
        <mf-contract v-if="hit._index == 'contracts'"     :contract="hit._source" clickable="true"></mf-contract>
        <mf-partner  v-else-if="hit._index == 'partners'" :partner-id="hit._id"  clickable="true" @loaded="tileLoaded"></mf-partner>
        <div v-else><b>Unexpected type: '{{hit._index}}'</b><br>{{hit._source}}</div>
    </div>
</div>


</span>
</div>

</div> |}{! end of app div !}{|
<script>
const { fromEvent } = rxjs;
const { map, filter, debounceTime, distinctUntilChanged, switchMap } = rxjs.operators;

const App = {
    mixins: [rxjsMixin],
    data() {
        return {
            start: 0,
            timeTaken: 0,
            sessionId: uuidv4(),
            users,
            searchTerm: "",
            searchResult: {}
        }
    },
    mounted() {
        this.searchRequest$.pipe(
            map(e => e.target.value),
            map(text => {this.searchTerm = text;  return text}),
            filter(text => text.length > 2),
            debounceTime(300),
            distinctUntilChanged(),
            switchMap(this.changed)
        ).subscribe(e => this.searchResult = e);

        this.$refs.searchTerm.focus(); // `autofocus` doesnt work unless you reload the page
    },
    methods: {
        changed(term) {
            // https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-uri-request.html
            // https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html
            this.start = new Date().getTime();
            const self = this;
            return fetch(ELASTICSEARCH_BASE_URL + "/contracts,partners/_search?q=" + encodeURIComponent(term), {"method": "GET"})
            .then( r => {
                if(r.status >= 200 && r.status < 300) {
                    return r.json().then(body => {
                        return body;
                    });
                } else {
                    return r.text().then(body => {
                        console.error("error getting search results. please try again"); // TODO handle this better
                        return {};
                    });
                }
            }).catch(error => {
                console.error("error getting search results: " + error + ". please try again"); // TODO handle this better
                return {};
            }).finally(() => {
                self.timeTaken = new Date().getTime() - self.start;
            });
        },
        tileLoaded() {
            this.timeTaken = new Date().getTime() - this.start;
        }
    },
    components: {
        'p-calendar': calendar,
        'p-dropdown': dropdown,
        'mf-partner': mfPartnerTile,
        'mf-contract': mfContractTile,
        'mf-users': mfUsers
    }
}
const app = Vue.createApp(App)
app.use(primevue, {ripple: true});
app.directive('stream', vuerxjsstream);
app.mount("#app")

</script>

|}{#include internalfooter /}
