{#include internalheader title="Organisation" /}{|

    <overview-table></overview-table>
    <br><br>
    <ul>
        <li>TODO add list of each method, showing which process it belongs to and which role can call it, kinda like the inverse of the above</li>
        <li>TODO break after each un and method</li>
    </ul>

</span>
</div>
</div> |}{! end of app div !}{|
<script>
// make a component, so we can use a template, because otherwise primevue doesnt pick up things like headerStyle
// because they have to be camel case, rather than kebab! - see https://vuejs.org/v2/guide/components-props.html
var overviewTable = {
  template: `
    <div>
        <p-treetable :value="model.root" :expandedKeys="model.expandedKeys" class="p-treetable-sm" rowHover="true">
            <p-column headerStyle="width: 10%;" bodyStyle="text-align: left" field="name" header="Name" :expander="true"></p-column>
            <p-column headerStyle="width: 10%;" field="type" header="Type"></p-column>
            <p-column headerStyle="width: 10%;" field="roleMappings" header="Role Mappings"></p-column>
            <p-column headerStyle="width: 10%;" field="$users" header="Users"></p-column>
            <p-column headerStyle="width: 60%;" field="$methods" header="Methods"></p-column>
        </p-treetable>
    </div>
  `,
  data: function(){
    return {
      model: { expandedKeys: {}, root: [] },
      requestId: uuidv4()
    }
  },
  mounted() {
    window.model = this.model; // just for debugging purposes
    this.fetchSec();
  },
  methods: {
    fetchSec() {
        let self = this;
        let url = ORGANISATION_BASE_URL + "/security/definitions?includeUsers=true";
        fetchIt(url, "GET", this).then(r => {
            if(r.ok) {
                console.log("got security for requestId " + self.requestId);
                setupModel(self, r.payload.root);
                self.model.root = r.payload.root;
            } else {
                let msg = "Failed to get security: " + r.payload;
                console.error(msg);
                alert(msg);
            }
        }).catch(error => {
            alert("received error: " + error);
        });
    }
  },
  components: {
    'p-treetable': treetable,
    'p-column': column
  }
};

const App = {
  data: function(){
    return {
      users
    }
  },
  components: {
    'overview-table': overviewTable,
    'mf-users': mfUsers
  }
}
const app = Vue.createApp(App)
app.use(primevue);
app.mount("#app")

function setupModel(self, nodes) {
    _.forEach(nodes, n => {
        n.data.$methods = n.data.methods.join(", ")
        n.data.$users = n.data.users.join(", ")
        self.model.expandedKeys[n.key] = true; // expand by default
        setupModel(self, n.children);
    });
}

</script>

|}{#include internalfooter /}
